{% extends 'base.html' %}

{% block content %}
<!-- Links to different user modules-->
<div class="dashboard-container">
  <aside class="sidebar">
    <ul>
      <li><a href="{{ url_for('dash.go_to_log') }}">Log Hours</a></li>
      <li><a href="{{ url_for('dash.go_to_timer') }}">Auto-Logger</a></li>
      <li><a href="{{ url_for('dash.go_to_vis') }}">Visualize Hours</a></li>
      <li><a href="{{ url_for('dash.go_to_del') }}">Delete Course/Entry</a></li>
      <li><a href="{{ url_for('dash.go_to_settings') }}">Settings</a></li>
    </ul>
  </aside>

</div>

<!-- Achievement display-->
<div> 
  
  <div class="badge-info">
    <p>Your badge level: {{ badge_level }}</p>
    {% if badge_level == 1 %}
    <img src="{{ url_for('static', filename='images_folder/pixil-frame-0.png') }}" alt="10 hr badge" width="500" height="600">
    {% endif %}
</div>
</div>
{% endblock %}


