{% extends 'base.html' %}
{% block header%}
 <!-- Achievement display -->
 <nav>

  <p>Badge Level: {{badge_level}}</p>
  {% if badge_level == 1 %}
    <ul>                    
    <img src="{{ url_for('static', filename='images_folder/5hrbadge.png') }}" alt="Image description" width="100" height="100">  
    </ul>
  {% endif %}
  {% if badge_level == 2 %}
    <ul>                    
    <img src="{{ url_for('static', filename='images_folder/10hr.png') }}" alt="Image description" width="100" height="100">  
    </ul>
  {% endif %}

</div>
</nav>
{% endblock %}

{% block content %}
<!-- Links to different user modules-->
<div class="dashboard-container">
    <section class="explore"> <h1>Explore</h1>
    <ul>
      <li><a href="{{ url_for('dash.go_to_log') }}">Log Hours</a></li>
      <li><a href="{{ url_for('dash.go_to_timer') }}">Auto-Logger</a></li>
      <li><a href="{{ url_for('dash.go_to_vis') }}">Visualize Hours</a></li>
      <li><a href="{{ url_for('dash.go_to_del') }}">Delete Course/Entry</a></li>
      <li><a href="{{ url_for('dash.go_to_comp') }}">Compare</a></li>
      <li><a href="{{ url_for('dash.go_to_settings') }}">Settings</a></li>
    </ul>

    </section>
</div>

{% endblock %}


