{% extends "base.html" %}

{% block title %}Flashcards{% endblock %}

{% block content %}
<div>

    <section class="section-header">
        <div id="optionBar" class="optionBar">
            <ul>
                <li><button id="create-folder"> Create a Flashcard Folder</button></li>
                <li><button id="create-set">Create Flashcard Set</button></li>
                <li><button id="use">Use Flashcard Set</button></li>
                <!-- <li><button id="edit">Edit Flashcard Set</button></li> -->
                <li><button id="delete">Delete Flashcard Set</button></li>
            </ul>
        </div>
    </section>

<div>
    <div id="sandbox-div">
    </div>

</div>
{% endblock %}


{% block extra_scripts %}
<script src="{{ url_for('static', filename='flashcard.js') }}" type="module"></script>
{% endblock %}