{% extends "base.html" %}

{% block content %}
<main>
    <section class="form-section">
        <h2>Auto-Log Hours</h2>
        <form id="log-hours-form" method="post" action="{{ url_for('time.get_time') }}"> 
            <label for="course-select">Select Course:</label>
            <select id="course-select" name="course-select" required>
                {% for course in courses %}
                <option value="{{ course['course_name'] }}">{{ course['course_name'] }}</option>
                {% endfor %}
            </select>

            <!-- Timer section-->
            <div id="timer">
                <label for="timer" id="timer-label"></label>
                <input type="hidden" id="labelInput" name="labelValue">
                <button type="button" id="timer_start_button"> Start </button>
                <button type="button" id="timer_stop_button">Stop</button>
                <button type="button" id="timer_reset_button">Reset</button>
            </div>

            <button type="submit" id="submit">Log Hours</button>
        
        </form>
    </section>       
</main>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

